image: node:8

stages:
  - test
  - bundle

before_script:
  - npm install

cache:
  paths:
    - node_modules/

test:lint:
  stage: test
  script:
    - npm run lint

test:unit:
  image: adimit/docker-node-chromium
  stage: test
  script:
    - npm run test
  tags:
    - chromium

chrome:
  stage: bundle
  script:
    - npm run build
    - npm run bundle
  artifacts:
    untracked: true
    paths:
      - "*.zip"

firefox:
  stage: bundle
  script:
    - node_modules/web-ext/bin/web-ext sign -a . -s addon --api-key=${MOZILLA_USER} --api-secret=${MOZILLA_KEY} --id=${MOZILLA_ID}
  only:
    - tags
  artifacts:
    untracked: true
    paths:
      - "*.xpi"
