$green: #5CB85C;
$red: #C03;
$blue: #428BCA;
$light: #A8D695;

@mixin time-tracking-button {
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  background-image: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;

  svg {
    position: relative;
    left: 7px;
    top: 7px;
  }

  transition: background-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

  &:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
  }
}

@mixin button-color($color) {
  color: $color;
  border-color: $color;

  &:hover {
    background: $color;
    color: white;
  }
}

.time-tracking {
  &-start-button {
    @include time-tracking-button;
    @include button-color($light);
  }

  &-stop-button {
    @include time-tracking-button;
    @include button-color($blue);
  }

  &-save-button {
    @include time-tracking-button;
    @include button-color($green);
  }

  &-trash-button{
    @include time-tracking-button;
    @include button-color($red);
  }
}

#time-tracking-button-container {
  display: inline-block;
  span {
    height: 30px;
  }
}

#time-tracking-time-display-container {
  display: block;
  min-width: 40px;
  label {
    margin-right: 10px;
  }
}

.right-sidebar-collapsed {
  #time-tracking-time-display-container {
    .time-display {
      display: block;
      text-align: center;
    }
    label {
      display: none;
    }
  }

  #time-tracking-button-container {
    width: 100%;
    div {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
