$red: red;
$error: $red;

@mixin bubble-gum() {
  border-radius: 3px;
  padding: 7px;
}

.invisible {
  visibility: hidden;
}

#error-container {
  color: white;
  background-color: $red;
  font-weight: bold;
  @include bubble-gum();
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.error {
  border-color: $red;
  color: $red;
}

#add-permission-container {
  display: flex;

  input {
    @include bubble-gum();
    border: 1px solid grey;
    margin-left: 2px;
    margin-right: 2px;
  }

  button {
    margin-left: 2px;
    margin-right: 2px;
  }

  #new-permission {
    flex: 1 1 45%;
  }

  #new-api-token {
    flex: 1 2 45%;
  }

  #add-permission {
    flex: 1 3 10%;
  }
}
